.form{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    &__heading{
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-heading
    }
    &__input{
        font-size: 1.1rem;
        width: 80%;
        padding: .8rem 1rem;
        border: $color-primary 1px solid;
        transition: .1s all;
        &:focus{
            border: $color-primary 3px solid;
        }
    }
    &__message{
        font-size: 1.1rem;
        width: 80%;
        padding: .8rem 1rem;
        border: $color-primary 1px solid;
        transition: .3s all;
        resize: none;
    }
}